/*html {
    height: 100%;
}*/

body {
    background-color: darkorange;
    font-size: 100%;
    /*height: 100%;*/
    font-family: Dosis;
    /*background-image: url(images/background.png); */
}

.GameBoard {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    /*z-index: 0;*/
    height: 250px;
    width: 250px;
    border: solid steelblue;
    margin-top: 5px;
    margin-bottom: 5px;
    /*border-image-slice: 33% 33% 33% 33%;*/
    /*border-image-repeat: round round;*/
    /*border-image-source: url(images/glassOverlay.png);*/
    border-radius: 10px;
    -webkit-box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.58);
    box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.58);
}

.mcfScoreBoardOuter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*margin: 10px;*/
    /*background-image: url(images/paper.jpg);*/
    background-color: steelblue;
    padding: 5px;
    border-radius: 5px;
}

.mcfScore {
    margin: 2px;
}

.mcfBest {
    margin: 2px;
}

.mcfScoreBoard {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    /* font-size: 150%; */
    padding: 5px;
    /*background-image: url(images/sbBackground.png);*/
    border-radius: 5px;
    border: 5px midnightblue solid;
    background-color: steelblue;
}

.GameSpace {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -2;
    position: absolute;
    height: 50px;
    width: 50px;
    border: 5px solid lightblue;
    background-color: powderblue;
}

.tile {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-size: 150%;*/
    z-index: -1;
    color: white;
    position: absolute;
    background-image: url(images/glassOverlay.png);
    background-size: 100%;
    background-origin: padding-box;
    border: solid black;
    /*text-align: center;*/
    /*line-height: .8;*/  
}

.value {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.mcfGameOver {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    top: 50%;
    position: relative;
    z-index: 3;
    /*transform-translate(- 50 %, - 50 %);*/
    top: 25%;
    color: white;
    background-color: black;
}

#toggle {
    width: 100px;
    height: 100px;
    background: #ccc;
}

#controls {

    position: absolute;
    box-sizing: content-box;
    display: block;
    /*margin: 10px;*/
}

.btn {
    float: left;
    /*background: #3498db;*/
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
     /*background-image: linear-gradient(top, bottom, #3498db, #2980b9); */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family:dosis;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border: solid #1f628d 2px;
}